.splash-rest-item {
  width: 236px;
  height: 322px;
  border: 1px solid #d8d9db;
  margin-right: 16px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  transition: margin 0.2s ease-in-out;
  vertical-align: middle;
}

.splash-rest-info {
  white-space: normal;
  width: 218px;
  height: 188px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

.splash-rest-info-name {
  color: black;
  white-space: normal;
  height: 24px;
  width: 218px;
  line-height: 24px;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 8px;
}

.splash-rest-item:not(:last-child) {
  margin-right: 8px;
}

.splash-rest-item:hover {
  margin-top: -2px;
}

.splash-rest-img {
  height: 132px;
  width: 234px;
  background-color: pink;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.splash-rest-img img {
  height: 100%;
  width: 100%
}

.review-star-container {
  width: 218px;
  height: 20px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}

.star-container {
  width: 104px;
  height: 16px;
}

.fa-star {
  color: red;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.review-container {
  font-size: 14px;
  justify-content: flex-end;
}

.cuisine-price-neighborhood-container {
  width: 218px;
  height: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  font-size: 14px;
}

.cuisine-price-neighborhood-container h3 {
  font-size: 14px;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-container {
  margin-right: 4px;
}

.splash-booked {
  width: 218px;
  height:24px;
}

.fa-arrow-trend-up {
  height: 14px;
  width: 18px;
  margin-right: 6px;
}