.restaurant-search-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.restaurant-search-list {
  width: 60%;
}

.restaurant-item {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d8d9db;
}

.restaurant-item-left {
  height: 100%;
  width: 100%;
  width: 20%;
  margin-bottom: 0;
}

.restaurant-item-left img {
  height: 100%;
  width: 100%;
}

.restaurant-item-right {
  width: 80%;
  padding-left: 12px;
  padding-top: 6px;
}

.search-item-name {
  font-size: 18px;
  color: #247f9e;
  margin-bottom: 6px;
}

.search-star {
  color: rgba(192, 192, 192, 0.5);
}

.search-active-star {
  color: gold;
}

.search-star-container {
  margin-bottom: 6px;
}

.phone-number {
  margin-bottom: 6px;
}

.search-cuisine {
  margin-bottom: 6px;
}