.splash-rest-item {
  width: 236px;
  height: 322px;
  border: 1px solid #d8d9db;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  transition: margin 0.2s ease-in-out;
  vertical-align: middle;
}

.splash-rest-info {
  color: blueviolet;
  white-space: normal;
}

.splash-rest-item:not(:last-child) {
  margin-right: 8px;
}

.splash-rest-item:hover {
  margin-top: -2px;
}

.splash-rest-img {
  height: 132px;
  width: 234px;
  background-color: pink;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

}