.review-textarea {
  resize: none;
}

.review-form-container {
  height: 200px;
  width: 100%;
  display: flex;

}

.review-form-container {
  background-color: black;
}

.review-form-container form {
  height: 100%;
  width: 100%;
}

.review-form-star {
  cursor: pointer;
  color: gray;
}

.review-form-star:hover {
  color: red;
}

.active-star {
  color: red;
}