.review-textarea {
  resize: none;
}

.review-form-container {
  max-height: 200px;
  max-width: 200px;
  display: flex;
}

.review-form-container {
  background-color: black;
}

.review-form-container form {
  height: 100%;
  width: 100%;
}