.review-textarea {
  resize: none;
}

.review-form-container {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.review-form-container form {
  height: 100%;
  width: 100%;
}

.review-form-body {
  height: 500px;
  width: 500px;
  margin-bottom: 20px;
}

.review-form-body textarea {
  height: 100%;
  width: 100%;
}

.review-form-stars {
  vertical-align: top;
}

.review-form-star {
  cursor: pointer;
  color: gray;
}

.review-form-star:hover {
  color: red;
}

.active-star {
  color: red;
}

.review-form {
  padding-top: 50px;
}

.review-form-header {
  font-size: 36px;
  margin-bottom: 24px;
  margin-top: 24px;
}