.reservation-info {
  font-size: 36px;
}

.user-show-header {
  font-size: 48px;
  padding-top: 16px;
  margin-bottom: 16px;
}

.user-show-container {
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
}

.user-show-page {
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}