.select-time-btn {
  background-color: #da3743;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  margin-bottom: 4px;
}

.clicked-time-btn {
  background-color: gray;
}

.reservation-form h3 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.reservation-form {
  padding-top: 0;
  height: 100%;
  width: 100%
}

.reservation-form-container {
  display: flex;
  flex-direction: column;
  width: 546px;
}

.make-res-button {
  margin-bottom: 25px;
}