.reservation-show-info {
  width: 1405px;
  height: 320px;
  border: 1px solid gray;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
}


p {
  color: black;
}

.reservation-show-left {
  height: 100%;
  width: 250px;
  flex: 1;
}

.reservation-show-left img {
  width: 250px;
  height: 100%;
  flex: 4;
}

.reservation-show-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1000px;
  justify-content: space-between;
  flex: 4;
}

.reservation-rest-name {
  font-weight: 700;
  font-size: 36px;
}

.fa-clock {
  color: black;
  margin-right: 5px;
}

.fa-user-res {
  color: black;
  margin-right: 5px;
}

.reservation-clock {
  margin-right: 5px;
}

.reservation-show-right h3,p {
  margin-left: 16px;
}

.reservation-delete-edit-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.delete-reservation-btn {
  height: 50px;
  width: 50px;
  /* border-radius: 20px; */
  background-color: #D10000;
  /* margin-left: 20px; */
  cursor: pointer;
}

.edit-reservation-btn {
  height: 50px;
  width: 50px;
  /* border-radius: 20px; */
  background-color: #D10000;
  cursor: pointer;
}

.edit-res-icon {
  height: 25px;
  width: 25px;
}

.delete-res-icon {
  height: 25px;
  width: 25px;
}