.reservation-search {
  background: linear-gradient(.647turn,#1a0a47cc,#0d1b4599 .01%,#0d1b45cc 51.04%,#0d1b45 99.1%);
  height: 248px;
  width: 100%;
}

.reservation-search h3 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  vertical-align: middle;
  
}