.reservation-search {
  background: linear-gradient(.647turn,#1a0a47cc,#0d1b4599 .01%,#0d1b45cc 51.04%,#0d1b45 99.1%);
  height: 248px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-search-header {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 5px;
}

.search-bar-input {
  width: 60%;
}

.submit-search-btn {
  background-color: #da3743;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  width: 144px;
  height: 100%;
  vertical-align: top;
}

.search-bar {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-input {
  height: 100%;
  margin-right: 30px;
}