.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.openmesa-logo {
  height: 120px;
  width: 160px;
}

.openmesa-nav-link {
  position: absolute;
  left: 0px;
}

.openmesa-text {
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 130px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.profile-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: .8px groove rgb(192, 192, 192);
}

.profile-dropdown {
  position: absolute;
  width: 316px;
  border-radius: 5px;
  border: .8px groove rgb(192, 192, 192);
  padding: 5px;
  top: 85px;
  right: 0;
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 1;
}

.profile-dropdown p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}

.profile-dropdown li {
  padding: 10px;
}

.profile-dropdown li:hover {
  background-color: 		rgb(240,240,240);
}

.profile-dropdown :last-child {
  padding-top: 5px;
  padding-bottom: 5px;
}

.signout-btn {
  color: #D10000
}