form {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760px;
  width: 460px;
  background-color: #F7F7F7;
}

button[type="submit"], .demo-login {
  background-color: #D10000;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 40px;
  cursor:pointer;
  border: none;
  margin-top: 10px;
}

input, select {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #333333;
  width: 80%;
  box-sizing: border-box;
  background-color: #F7F7F7;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

input:focus {
  border-color: #007DCC;
}

.sign-up-btn {
  padding: 8px 12px;
  margin: 0 8px;
  background-color: #247f9e;
  color: white;
  border-radius: 2px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border: .8px groove rgb(192, 192, 192);
  cursor: pointer;
}